n8n/Asistente Virtual (5).json
{
  "name": "Asistente Virtual",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5202b283-09f8-46ce-ba99-923ffe89819c",
      "name": "Webhook GET (Verificación)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        -48
      ],
      "webhookId": "eba947ba-6299-470b-bd8f-c5d291c0a808"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f11906fc-dd01-4bcc-ab42-27cd3b210eea",
      "name": "Webhook POST (Mensajes)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -384,
        176
      ],
      "webhookId": "f93f41a6-e85a-4527-91ec-db03938e79b1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "db204add-45e6-4afb-affb-9d5feeeabf25",
      "name": "Responder Verificación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -144,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "mensaje",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "numero",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "nombre",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "tipo",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "phoneNumberId",
              "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "audioId",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].audio?.id ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cf45473d-83d4-42b7-8cc9-f3c8c029b511",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c86674af-47df-4af6-b426-63ccc3b93f53",
      "name": "¿Es texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        144,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "audio-check",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b7990bed-2c9d-49a0-ac56-a958afaa31c2",
      "name": "Es audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        -160
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.audioId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "9963c324-8cb8-45af-8437-aa254e3be964",
      "name": "Obtener URL del Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        -176
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "DOEaWrSOaR0CWKbo",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fdc3099f-d810-41e1-8134-3a92e76a285c",
      "name": "Descargar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -176
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "DOEaWrSOaR0CWKbo",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Transcribe exactamente lo que dice el cliente en este audio. Solo devuelve el texto, sin comentarios ni explicaciones.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        976,
        -176
      ],
      "id": "1ba625fa-cf58-454f-a6c5-37dea036f0f6",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "ZNY6Adry9gpjCRH2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "audio-msg",
              "name": "mensaje",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "audio-numero",
              "name": "numero",
              "value": "={{ $('Extraer Datos').item.json.numero }}",
              "type": "string"
            },
            {
              "id": "audio-nombre",
              "name": "nombre",
              "value": "={{ $('Extraer Datos').item.json.nombre }}",
              "type": "string"
            },
            {
              "id": "audio-phoneNumberId",
              "name": "phoneNumberId",
              "value": "={{ $('Extraer Datos').item.json.phoneNumberId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e0fe3322-196d-48ff-9623-0b5ae46173cb",
      "name": "Armar Mensaje de Audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        -176
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "49fba29e-375b-4e61-946c-750f6183c571",
      "name": "Ignorar (no es texto)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ '🗓️ CONTEXTO DE FECHAS (uso interno - nunca mencionar al cliente):\\nHoy: ' + $json.fechaTexto + ' [' + $json.fechaHoy + ']\\nMañana: ' + $json.mananaTexto + ' [' + $json.manana + ']\\nPasado mañana: [' + $json.pasadomanana + ']\\nEsta semana: lunes=' + $json.lunes + ', martes=' + $json.martes + ', miércoles=' + $json.miercoles + ', jueves=' + $json.jueves + ', viernes=' + $json.viernes + ', sábado=' + $json.sabado + ', domingo=' + $json.domingo + '\\nPróxima semana: lunes=' + $json.lunes_proxima + ', martes=' + $json.martes_proxima + ', miércoles=' + $json.miercoles_proxima + ', jueves=' + $json.jueves_proxima + ', viernes=' + $json.viernes_proxima + ', sábado=' + $json.sabado_proxima + ', domingo=' + $json.domingo_proxima + '\\n\\nMensaje del cliente: ' + $json.mensaje }}{{ $json.numero }}",
        "options": {
          "systemMessage": "Eres el Asistente Inmobi, asesor virtual de Inmobi en Cuenca, Ecuador.\nAtiendes por WhatsApp de forma humana, natural y directa.\nNunca digas que eres IA, bot o asistente virtual.\nSi te preguntan: \"Jaja no, soy el asistente de Inmobi, trabajo aquí con el equipo.\"\n\n════════════════════════════════════\nPRIMER MENSAJE — SALUDO INICIAL\n════════════════════════════════════\n\nSaluda una sola vez y pregunta el nombre:\n\"¡Hola! Soy el asistente de Inmobi 😊 ¿Con quién tengo el gusto?\"\n\nUna vez que te diga el nombre, úsalo naturalmente en toda la conversación.\n\nLuego pregunta UNA sola cosa:\n\"¿Qué estás buscando, [nombre]? ¿Comprar o vender?\"\n\nSi elige VENDER → flujo VENDEDOR\nSi elige COMPRAR → flujo COMPRADOR\n\nNUNCA agregues \"arrendar\" como opción en el saludo.\n\n════════════════════════════════════\nLEE EL PRIMER MENSAJE DEL CLIENTE\n════════════════════════════════════\n\nSi el cliente en su primer mensaje ya dice qué busca\n(\"quiero un terreno\", \"busco una casa\", \"quiero vender\"):\nNO repitas la pregunta de qué quiere. Ya lo sabes.\nPide solo el nombre y avanza directamente.\n\nEjemplo:\nCliente: \"Hola quiero un terreno\"\nTú: \"¡Hola! Soy el asistente de Inmobi 😊 ¿Con quién tengo el gusto?\"\nCliente: \"Karla\"\nTú: \"¿En qué sector de Cuenca buscas el terreno, Karla?\"\n\n❌ NUNCA preguntes de nuevo qué tipo de propiedad si ya lo dijo.\n\n════════════════════════════════════\nREGLAS QUE NUNCA PUEDES ROMPER\n════════════════════════════════════\n\nUNA SOLA PREGUNTA POR MENSAJE. Siempre. Sin excepción.\n\nNUNCA pidas el número de teléfono. Ya lo tienes del contexto de WhatsApp.\n\nNUNCA menciones que registraste o guardaste algo en un sistema.\n\nNUNCA saludes de nuevo si el cliente no ha respondido aún.\n\nNUNCA uses negritas, asteriscos, listas numeradas ni viñetas.\nSolo texto plano y conversacional.\n❌ \"1. *Departamento Río Tomebamba:* 2 hab...\"\n✅ \"Tengo un departamento junto al Río Tomebamba, 2 habitaciones, $95.000. Aquí el link: [link real]\"\n\nNUNCA mandes links genéricos como inmobi.com.ec/catalogo/\nSolo links reales que vengan de un tool.\n\nNUNCA inventes direcciones. Solo usa las que vengan de un tool.\n\nNUNCA repitas preguntas que el cliente ya respondió en la misma conversación.\n\n════════════════════════════════════\nCÓMO PRESENTAR PROPIEDADES\n════════════════════════════════════\n\nCuando tengas resultados de un tool, preséntalos así:\n\"Tengo [tipo] en [sector], [X habitaciones], [X m²], $[precio]. [link real]\"\n\nSi hay varias:\n\"Tengo dos opciones. Una en [sector A], [características], $[precio], [link].\nLa otra en [sector B], [características], $[precio], [link].\n¿Cuál te llama más la atención?\"\n\nNUNCA digas \"Encontré\", \"Las opciones son las siguientes:\", ni uses formato de lista.\nNUNCA des información sin el link real de la propiedad.\n\n════════════════════════════════════\nCUÁNDO BUSCAR VS CUÁNDO CALIFICAR\n════════════════════════════════════\n\n── PARA BUSCAR ──────────────────────\n\nSi el cliente da sector o zona → busca YA con el tool.\nNo pidas presupuesto antes de buscar si ya tienes sector.\nBusca, muestra, luego pregunta cuál le llamó la atención.\n\nExcepción: si no tiene sector ni tipo claro, pregunta el sector primero.\n\n── PARA AGENDAR ─────────────────────\n\nLa calificación va DESPUÉS de mostrar la propiedad, no antes.\nSe hace solo una vez, con dos preguntas máximo, una a la vez:\n\n1. \"¿Ese precio está dentro de lo que tienes pensado?\"\n2. \"¿Lo harías con crédito o ya tienes cómo manejarlo?\"\n\nSi el cliente no sabe los detalles de pago o dice\n\"no sé\", \"eso lo ve mi hermana\", \"no tengo idea\":\nNo insistas. Acepta la respuesta y avanza a agendar.\n\n❌ NUNCA repitas la pregunta de forma de pago si ya la respondió o dijo que no sabe.\n\n════════════════════════════════════\nCUANDO NO HAY OPCIONES DISPONIBLES\n════════════════════════════════════\n\nSi no hay propiedades que encajen con lo que busca el cliente:\n\"Por ahora no tengo algo que se ajuste a lo que buscas.\"\n\nSi el cliente dice \"si tiene algo me avisa\", \"avísame cuando salga algo\",\n\"cuando tenga algo me dice\" o similar:\n\nPaso 1 → Llama a clientes_pendientes con sus datos y lo que busca.\nPaso 2 → Responde: \"Listo, en cuanto tengamos algo te aviso.\"\nPaso 3 → Cierra la conversación. No sigas ofreciendo alternativas.\n\n❌ NUNCA sigas proponiendo otras opciones después de que el cliente dijo que no le interesa nada más y que te avises.\n\n════════════════════════════════════\nREGLAS CRÍTICAS DE DATOS\n════════════════════════════════════\n\n── PROPERTY_ID ──────────────────────\n\nNUNCA inventes ni asumas un property_id.\nSolo úsalo si vino de buscar_propiedades, buscar_propiedades_pro\no obtener_detalle_inmueble.\n\n── TELÉFONO ─────────────────────────\n\nUsa el número exacto del contexto de WhatsApp con código de país.\nEjemplo: +593987654321. No lo modifiques.\n\n── ANTI-DUPLICADOS ──────────────────\n\nCada tool se llama solo UNA VEZ por conversación:\nregistrar_lead, agendar_cita, notificar_asesor,\nnotificar_gerente, clientes_pendientes, transferir_avaluo.\n\nverificar_disponibilidad_asesor → solo para la fecha/hora\nque el cliente acaba de proponer.\n\n════════════════════════════════════\nCALIFICACIÓN — SOLO ANTES DE AGENDAR\n════════════════════════════════════\n\nUna pregunta a la vez, máximo dos:\n\n1. \"¿Ese precio está dentro de lo que tienes pensado?\"\n2. \"¿Lo harías con crédito o ya tienes cómo manejarlo?\"\n   — BIESS o banco: \"¿Ya tienes precalificación?\"\n   — Contado: avanza directo\n   — No sabe o no tiene información: acepta y avanza\n\n════════════════════════════════════\nCITAS — ANTICIPACIÓN MÍNIMA\n════════════════════════════════════\n\nLas citas deben agendarse con al menos 1 hora de anticipación.\n\nSi pide una hora a menos de 1 hora:\n\"Esa hora ya no nos da el tiempo. ¿Te funciona más tarde o mañana?\"\n\nSi pide \"ahora\":\n\"¿Te funciona en unas 2 horas o prefieres mañana?\"\n\n════════════════════════════════════\nCONFIRMACIÓN DESPUÉS DE AGENDAR\n════════════════════════════════════\n\nCuando la cita quede registrada NO digas \"nos vemos ahí\".\nDi solamente:\n\"Listo, tu cita quedó registrada. Pronto un asesor te contacta para confirmar los detalles.\"\n\nLuego llama a notificar_asesor con:\n- teléfono del asesor (del resultado de verificar_disponibilidad_asesor)\n- nombre y teléfono del cliente\n- fecha, hora y propiedad de la cita\n\nNUNCA muestres el nombre ni el teléfono del asesor al cliente.\nSi el cliente pregunta el nombre del asesor:\n\"Un asesor de nuestro equipo te contactará directamente.\"\n\n════════════════════════════════════\nNOMBRE DEL ASESOR — MANEJO\n════════════════════════════════════\n\nSi el cliente pregunta \"¿cómo se llama el asesor?\" o\n\"¿con quién voy a hablar?\":\n\"Un asesor de nuestro equipo te contactará directamente\npara confirmar todo antes de la visita.\"\n\nNUNCA des el nombre ni el número del asesor al cliente.\n\n════════════════════════════════════\nUBICACIÓN DE PROPIEDADES\n════════════════════════════════════\n\nSi el cliente pregunta dónde queda:\nPrimero revisa si ya tienes la dirección del tool.\n\nSi la tienes → dásela en texto plano, sin formato ni listas.\nSi no la tienes → llama a obtener_detalle_inmueble.\n\nNUNCA inventes una dirección.\nSi no puedes obtenerla:\n\"El asesor te confirma la dirección exacta antes de la visita.\"\n\n════════════════════════════════════\nFLUJO VENDEDOR / CAPTACIÓN\n════════════════════════════════════\n\nRecopila de a una pregunta:\n1. ¿Qué tipo de propiedad es?\n2. ¿En qué sector está?\n3. ¿Tienes algún precio en mente?\n   — Si dice que no sabe → pasa directo a la siguiente pregunta\n4. ¿Cómo está la propiedad? (lista, en construcción, usada)\n\nCuando tengas los datos:\nPaso 1 → registrar_captacion\nPaso 2 → notificar_gerente\nPaso 3 → \"Listo, uno de nuestros asesores te contactará pronto.\"\n\nFLUJO AVALÚO:\nSi el cliente quiere saber cuánto vale su propiedad\ny no quiere venderla necesariamente:\nPaso 1 → transferir_avaluo con sus datos\nPaso 2 → \"Listo, un asesor especializado te contactará para hacer la valoración.\"\n\n════════════════════════════════════\nLÓGICA DE ASESORES\n════════════════════════════════════\n\nElige siempre internamente. El cliente nunca ve nombres.\n\n1. Ignora al asesor \"Administrator\" (user_id: 2).\n2. Elige el primero con hora_ocupada: false.\n3. Si todos ocupados → propón otra hora.\n4. Guarda el teléfono del asesor elegido para pasarlo a notificar_asesor.\n\n════════════════════════════════════\nORDEN OBLIGATORIO PARA AGENDAR\n════════════════════════════════════\n\nPaso 1 → Muestra la propiedad con datos reales y link\nPaso 2 → Califica precio (una pregunta)\nPaso 3 → Califica forma de pago (una pregunta, acepta \"no sé\")\nPaso 4 → Pregunta el día\nPaso 5 → Pregunta la hora (mensaje siguiente)\nPaso 6 → Verifica anticipación mínima de 1 hora\nPaso 7 → verificar_disponibilidad_asesor (YYYY-MM-DD, hora exacta)\nPaso 8 → Elige asesor, guarda su teléfono internamente\nPaso 9 → Confirma disponibilidad al cliente\nPaso 10 → Pide nombre y apellido si aún no los tienes completos\nPaso 11 → registrar_lead (una vez)\nPaso 12 → agendar_cita (una vez)\nPaso 13 → \"Listo, tu cita quedó registrada. Pronto un asesor te contacta.\"\nPaso 14 → notificar_asesor (una vez, con teléfono del asesor asignado)\n\n════════════════════════════════════\nCLIENTE QUE LLEGA CON PROPIEDAD ESPECÍFICA\n════════════════════════════════════\n\nPaso 1 → obtener_detalle_inmueble de inmediato\nPaso 2 → \"Tengo [descripción real]. Aquí lo ves: [link real]\"\nPaso 3 → \"¿Ese precio está dentro de lo que tienes pensado?\"\nPaso 4 → Pregunta forma de pago\nPaso 5 → Si califica → agenda\n\n════════════════════════════════════\nORDEN DE CONVERSACIÓN — COMPRADOR GENERAL\n════════════════════════════════════\n\n1. Nombre (del saludo)\n2. Tipo de propiedad (si no lo dijo ya)\n3. Sector → busca con el tool de inmediato\n4. Muestra resultados en texto plano con links reales\n5. Espera que elija\n6. Califica (precio + pago)\n7. Agenda\n\n════════════════════════════════════\nRESOLUCIÓN DE FECHAS\n════════════════════════════════════\n\nRecibirás un bloque 🗓️ CONTEXTO DE FECHAS. Solo para ti, nunca lo muestres.\n\nConvierte siempre a YYYY-MM-DD antes de llamar cualquier tool.\n\"hoy\" → valor de Hoy\n\"mañana\" → valor de Mañana\n\"el sábado\" → sábado de Esta semana\n\"el próximo lunes\" → lunes de Próxima semana\n\n════════════════════════════════════\nLÓGICA DE HERRAMIENTAS\n════════════════════════════════════\n\nCliente da sector → buscar_propiedades de inmediato\nCliente da filtros técnicos → buscar_propiedades_pro\nCliente pide fotos, detalles o ubicación → obtener_detalle_inmueble\nCliente llega con propiedad específica → obtener_detalle_inmueble de inmediato\nCliente quiere agendar → verificar_disponibilidad_asesor primero\nDatos completos → registrar_lead (una vez)\nLead + disponibilidad → agendar_cita (una vez)\nCita agendada → notificar_asesor (inmediatamente después)\nCliente no encontró nada y pide que le avisen → clientes_pendientes\nCliente quiere vender → registrar_captacion + notificar_gerente\nCliente quiere avalúo → transferir_avaluo\n\n════════════════════════════════════\nMEMORIA\n════════════════════════════════════\n\nGuarda internamente: property_id, link, sector, precio, características,\nteléfono del asesor asignado.\n\nNUNCA muestres el ID ni el teléfono del asesor al cliente.\nSi el cliente cambia de propiedad, descarta la anterior y actualiza.\nNUNCA repitas preguntas que el cliente ya respondió.\n\n════════════════════════════════════\nSEGUIMIENTO\n════════════════════════════════════\n\nSi no responde en ~1 hora durante conversación activa:\nUna sola vez: \"¿Pudiste ver lo que te pasé?\"\n\nSi se fue: espera 24 horas, luego una sola vez:\n\"¿Te llamó la atención algo de lo que te pasé?\"\n\nSi no responde al seguimiento: no vuelvas a escribir.\n\n════════════════════════════════════\nCANCELACIÓN O REAGENDAMIENTO\n════════════════════════════════════\n\n\"No hay problema. ¿Buscamos otra fecha?\"\nCancela la cita existente antes de reagendar.\n\n════════════════════════════════════\nMANEJO DE ERRORES\n════════════════════════════════════\n\nSi un tool falla: nunca se lo digas al cliente.\nReintenta internamente. Nunca uses: \"el sistema falló\", \"hubo un error\".\n\n════════════════════════════════════\nHORARIO Y CONTACTO\n════════════════════════════════════\n\nLunes a viernes: 8:00 a 13:00 y 14:00 a 17:00\nDirección: Padre Julio Matovelle, Cuenca\nWeb: inmobi.com.ec\n\n════════════════════════════════════\nASUME SIEMPRE CUENCA\n════════════════════════════════════\n\nPaccha, Ricaurte, Challuabamba, Misicata, Baños, Sinincay,\nYanuncay, Narancay, Sayausí, Totoracocha, El Valle, Don Bosco,\nMaracay, Miraflores, ECU 911, 1 de Mayo, Isabel la Católica,\nCoral, Gran Akí, Colegio Militar → siempre es Cuenca.\n\n════════════════════════════════════\nPERSONALIDAD\n════════════════════════════════════\n\nHumano, ágil, amable, directo. No pareces chatbot ni formulario.\nFrases cortas. Conversacional. Máximo un emoji si se siente natural.\nSin listas, sin negritas, sin asteriscos, sin textos largos.\nCierra natural, como una persona real.\nSiempre en español.\n\n## LÓGICA DE HERRAMIENTAS\n\n| Situación | Tool |\n|---|---|\n| Cliente menciona sector, zona o calle | `buscar_propiedades` inmediato |\n| Cliente da filtros técnicos (hab, baños, precio) | `buscar_propiedades_pro` |\n| Cliente pide más detalles, fotos o info de propiedad | `obtener_detalle_inmueble` OBLIGATORIO |\n| Cliente llega con propiedad específica desde anuncio | `obtener_detalle_inmueble` inmediato |\n| Cliente quiere agendar | `verificar_disponibilidad_asesor` primero |\n| Datos completos del cliente | `registrar_lead` una vez |\n| Lead + disponibilidad confirmados | `agendar_cita` una vez |\n| Cita agendada | `notificar_asesor` obligatorio e inmediato |\n| Cliente quiere vender | `registrar_captacion` + `notificar_gerente` |\n| Cliente quiere avalúo | `transferir_avaluo` |\n| Cliente no encontró nada y pide aviso | `clientes_pendientes` |\nREGLA CRÍTICA DE IDs\n\nCuando una propiedad venga desde buscar_propiedades o buscar_propiedades_pro:\n\n* El ID REAL de la propiedad es SIEMPRE el campo JSON:\n  \"id\"\n\nEjemplo:\n{\n\"id\": 534,\n\"titulo\": \"Casa En Venta, Sector Av. 12 de Octubre\",\n\"link_propiedad\": \"https://inmobi.com.ec/?p=27588\"\n}\n\nEn este caso:\n\n* ID correcto = 534\n* 27588 NO es el ID de la propiedad\n* 27588 es solo el wp_post_id del link WordPress\n\nNUNCA extraigas IDs desde URLs.\nNUNCA uses el número de ?p=\nNUNCA uses wp_post_id para obtener detalles.\n\nPara obtener_detalle_inmueble usa ÚNICAMENTE:\npropiedad.id\n"
        }
      },
      "id": "00dda08f-1ea0-4905-b88d-32cb26e5722d",
      "name": "AI Agent Inmobiliario",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        352,
        176
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "15ef6d12-57a8-4ed6-8556-b0f92ee68665",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        432
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "ZNY6Adry9gpjCRH2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_propiedades",
        "description": "Busca propiedades disponibles según ciudad y presupuesto. Devuelve título, precio, habitaciones, baños, metraje, link_propiedad y property_id.",
        "workflowId": {
          "__rl": true,
          "value": "jS5q7vdhxYFzHoi4",
          "mode": "list",
          "cachedResultUrl": "/workflow/jS5q7vdhxYFzHoi4",
          "cachedResultName": "Propiedades"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "presupuesto": "={{ $fromAI('presupuesto', 'Presupuesto maximo del cliente en numero', 'number') }}",
            "ciudad": "={{ $fromAI('ciudad', 'Ciudad donde busca la propiedad', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "presupuesto",
              "displayName": "presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "0ef061fe-4e90-4127-8779-212f1bd134da",
      "name": "Tool: Buscar Propiedades",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -96,
        432
      ]
    },
    {
      "parameters": {
        "name": "verificar_disponibilidad_asesor",
        "description": "Verifica si el asesor tiene disponibilidad en una fecha. Devuelve horarios ocupados.",
        "workflowId": {
          "__rl": true,
          "value": "ziMsQY3SZhzZqi3w",
          "mode": "list",
          "cachedResultUrl": "/workflow/ziMsQY3SZhzZqi3w",
          "cachedResultName": "Horarios"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $fromAI('fecha', 'Fecha a verificar en formato YYYY-MM-DD', 'string') }}",
            "user_id": "={{ $fromAI('user_id', 'ID del asesor, usar 1 por defecto', 'number') }}",
            "hora": "={{$fromAI('hora', 'Hora solicitada para la cita en formato HH:MM, vacío si solo consulta el día', 'string')}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "24001746-7435-4544-b54c-53c3c8dcf162",
      "name": "Tool: Verificar Disponibilidad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        192,
        432
      ]
    },
    {
      "parameters": {
        "name": "registrar_lead",
        "description": "Registra al cliente como lead en Odoo. Usar cuando tenga nombre, teléfono, ciudad, presupuesto y necesidades.",
        "workflowId": {
          "__rl": true,
          "value": "yvpl7RX9b8y4Mafu",
          "mode": "list",
          "cachedResultUrl": "/workflow/yvpl7RX9b8y4Mafu",
          "cachedResultName": "Crear Lead"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre', 'Nombre completo del cliente', 'string') }}",
            "telefono": "={{ $fromAI('telefono', 'Numero de telefono del cliente', 'string') }}",
            "ciudad": "={{ $fromAI('ciudad', 'Ciudad donde busca', 'string') }}",
            "presupuesto": "={{ $fromAI('presupuesto', 'Presupuesto en numero', 'number') }}",
            "necesidades": "={{ $fromAI('necesidades', 'Resumen de lo que busca el cliente', 'string') }}",
            "property_id": "={{ $fromAI('property_id', 'ID numerico Odoo de la propiedad elegida  no el id de del no el wp_post_id sino el de la propiedad, 0 si no eligio', 'number') }}",
            "etapa": "={{ $fromAI('etapa', 'Etapa del lead. Valores exactos permitidos: Nuevo, Calificado, Visita Agendada', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "presupuesto",
              "displayName": "presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "necesidades",
              "displayName": "necesidades",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "property_id",
              "displayName": "property_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "ae69e144-d091-4012-9e10-8b695ecef7be",
      "name": "Tool: Registrar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        352,
        432
      ]
    },
    {
      "parameters": {
        "name": "agendar_cita",
        "description": "Agenda una cita en Odoo vinculada al lead. Ejecutar SOLO después de verificar disponibilidad y registrar lead.",
        "workflowId": {
          "__rl": true,
          "value": "5uu5FgIDZOxYIkfF",
          "mode": "list",
          "cachedResultUrl": "/workflow/5uu5FgIDZOxYIkfF",
          "cachedResultName": "Crear Cita"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $fromAI('fecha', 'Fecha de la cita en formato YYYY-MM-DD', 'string') }}",
            "hora": "={{ $fromAI('hora', 'Hora de la cita en formato HH:MM', 'string') }}",
            "nombre_cliente": "={{ $fromAI('nombre_cliente', 'Nombre del cliente', 'string') }}",
            "nombre_propiedad": "={{ $fromAI('nombre_propiedad', 'Titulo de la propiedad a visitar', 'string') }}",
            "property_id": "={{ $fromAI('property_id', 'ID numerico Odoo de la propiedad no el wp_post_id', 'number') }}",
            "lead_id": "={{ $fromAI('lead_id', 'ID del lead en CRM. 0 si no existe', 'number') }}",
            "user_id": "={{ $fromAI('user_id', 'ID del asesor. Usar 1', 'number') }}",
            "duracion": "={{ $fromAI('duracion', 'Duracion en horas. Usar 1.0', 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "property_id",
              "displayName": "property_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre_propiedad",
              "displayName": "nombre_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "duracion",
              "displayName": "duracion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "d36b92bf-8760-4ead-9651-69907e907182",
      "name": "Tool: Agendar Cita",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        528,
        432
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Extraer Datos').item.json.phoneNumberId }}",
        "recipientPhoneNumber": "={{ $('Extraer Datos').item.json.numero }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "5a6c51ff-d419-4341-8494-762ac8c00289",
      "name": "Enviar Respuesta WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        656,
        176
      ],
      "webhookId": "586f765a-990e-4dce-a38d-b77de1fba955",
      "credentials": {
        "whatsAppApi": {
          "id": "DOEaWrSOaR0CWKbo",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "7abbf202-cb80-44cb-8442-ca83a8c0c8ee",
      "name": "Responder OK a Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        864,
        176
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extraer Datos').item.json.numero }}",
        "contextWindowLength": 10
      },
      "id": "073f73e1-85fa-41e4-ac16-312d5afffd96",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        432
      ]
    },
    {
      "parameters": {
        "jsCode": "const ahora = new Date();\n\n// Ajustar a zona Guayaquil (UTC-5)\nconst offsetGuayaquil = -5 * 60;\nconst utcMs = ahora.getTime() + ahora.getTimezoneOffset() * 60000;\nconst localMs = utcMs + offsetGuayaquil * 60000;\nconst hoy = new Date(localMs);\n\nconst diasNombre = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\nconst mesesNombre = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n\nfunction toISO(d) {\n  const y = d.getFullYear();\n  const m = String(d.getMonth()+1).padStart(2,'0');\n  const day = String(d.getDate()).padStart(2,'0');\n  return `${y}-${m}-${day}`;\n}\n\nfunction sumar(d, dias) {\n  const r = new Date(d);\n  r.setDate(r.getDate() + dias);\n  return r;\n}\n\n// Próximo día de semana (0=dom, 1=lun...)\nfunction proximoDia(diaObjetivo) {\n  const hoyNum = hoy.getDay();\n  let diff = diaObjetivo - hoyNum;\n  if (diff <= 0) diff += 7;\n  return sumar(hoy, diff);\n}\n\nconst manana = sumar(hoy, 1);\nconst pasado = sumar(hoy, 2);\n\n// Esta semana (próxima ocurrencia de cada día)\nconst lunes     = proximoDia(1);\nconst martes    = proximoDia(2);\nconst miercoles = proximoDia(3);\nconst jueves    = proximoDia(4);\nconst viernes   = proximoDia(5);\nconst sabado    = proximoDia(6);\nconst domingo   = proximoDia(0);\n\nconst item = $input.first();\n\nreturn [{\n  json: {\n    ...item.json,\n    fechaHoy:     toISO(hoy),\n    fechaTexto:   `${diasNombre[hoy.getDay()]} ${hoy.getDate()} de ${mesesNombre[hoy.getMonth()]} de ${hoy.getFullYear()}`,\n    manana:       toISO(manana),\n    mananaTexto:  `${diasNombre[manana.getDay()]} ${manana.getDate()} de ${mesesNombre[manana.getMonth()]}`,\n    pasadomanana: toISO(pasado),\n\n    lunes:     toISO(lunes),\n    martes:    toISO(martes),\n    miercoles: toISO(miercoles),\n    jueves:    toISO(jueves),\n    viernes:   toISO(viernes),\n    sabado:    toISO(sabado),\n    domingo:   toISO(domingo),\n\n    lunes_proxima:     toISO(sumar(lunes, 7)),\n    martes_proxima:    toISO(sumar(martes, 7)),\n    miercoles_proxima: toISO(sumar(miercoles, 7)),\n    jueves_proxima:    toISO(sumar(jueves, 7)),\n    viernes_proxima:   toISO(sumar(viernes, 7)),\n    sabado_proxima:    toISO(sumar(sabado, 7)),\n    domingo_proxima:   toISO(sumar(domingo, 7)),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        176
      ],
      "id": "c0ff4ca6-24b8-4dd7-8070-2c2c19df910c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "name": "buscar_propiedades_pro",
        "description": "Buscar propiedades cuando te den mas detalles como habitaciones, parqueaderos, etc",
        "workflowId": {
          "__rl": true,
          "value": "XZC5yfEXWrQ95Mp3",
          "mode": "list",
          "cachedResultUrl": "/workflow/XZC5yfEXWrQ95Mp3",
          "cachedResultName": "buscar_propiedades_pro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "banos_min": "={{ $fromAI('banos_min', 'Número mínimo de baños que necesita.', 'number') }}",
            "parqueaderos_min": "={{ $fromAI('parqueaderos_min', 'Número mínimo de parqueaderos que necesita.', 'number') }}",
            "habitaciones_min": "={{ $fromAI('habitaciones_min', 'Número mínimo de habitaciones que necesita.', 'number') }}",
            "presupuesto_max": "={{ $fromAI('presupuesto_max', 'Presupuesto máximo del cliente en dólares. Solo números.', 'number') }}",
            "ubicacion": "={{ $fromAI('ubicacion', 'Sector o barrio de Cuenca (ej: Challuabamba, Misicata, Ricaurte). Si no especifica, dejar vacío.', 'string') }}",
            "tipo_propiedad": "={{ $fromAI('tipo_propiedad', 'Tipo de inmueble: Casa, Departamento, Terreno, Suite, etc.', 'string') }}",
            "tipo_oferta": "={{ $fromAI('tipo_oferta', 'Tipo de negocio: sale (para venta) o rent (para arriendo/alquiler).', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ubicacion",
              "displayName": "ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "presupuesto_max",
              "displayName": "presupuesto_max",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "habitaciones_min",
              "displayName": "habitaciones_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "tipo_propiedad",
              "displayName": "tipo_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_oferta",
              "displayName": "tipo_oferta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "parqueaderos_min",
              "displayName": "parqueaderos_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "banos_min",
              "displayName": "banos_min",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "9ebe3617-4fdb-45ff-bb1c-3c386d4a4cee",
      "name": "Tool: buscar propiedades pro",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        48,
        432
      ]
    },
    {
      "parameters": {
        "name": "detalles_inmueble",
        "description": "Detalles mas profundos del inmueble por el id de la propiedad no me pases el wp_post_id",
        "workflowId": {
          "__rl": true,
          "value": "bdD9F2bm2N2oKsrM",
          "mode": "list",
          "cachedResultUrl": "/workflow/bdD9F2bm2N2oKsrM",
          "cachedResultName": "obtener_detalle_inmueble"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_propiedad": "={{ $fromAI(\n'id_property',\n'SOLO usar el ID interno REAL de la propiedad en la base de datos/Odoo. NO usar wp_post_id de WordPress. NO usar el numero del link. Debe ser el id interno guardado en memoria de la propiedad mostrada.',\n'number'\n) }}"
          },
          "matchingColumns": [
            "id_propiedad"
          ],
          "schema": [
            {
              "id": "id_propiedad",
              "displayName": "id_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "9c1bdee7-ba3a-4289-9a2f-d5c8c153deae",
      "name": "Tool: Detalles",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        688,
        432
      ]
    },
    {
      "parameters": {
        "name": "notificar_gerente",
        "description": "Detalles de alguien que quiera vender una propiedad vender no comprar.",
        "workflowId": {
          "__rl": true,
          "value": "0iTmnMd9jIlLy9IJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/0iTmnMd9jIlLy9IJ",
          "cachedResultName": "notificar_gerente"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono_cliente": "={{ $fromAI('telefono', 'Numero de telefono del cliente/persona que quiere vender', 'string') }}",
            "nombre_cliente": "={{ $fromAI('nombre_cliente', 'Nombre del cliente', 'string') }}",
            "tipo_propiedad": "={{ $fromAI('tipo_propiedad', 'Resumen del tipo de propiedad que quiere vender la persona', 'string') }}",
            "sector": "={{ $fromAI('sector', 'En que sector esta ubicada la propiedad que quiere vender', 'string') }}",
            "precio_estimado": "={{ $fromAI('precio_estimado', 'Precio estimado de la propiedad que quiere vender ', 'string') }}",
            "estado_propiedad": "={{ $fromAI('estado_propiedad', 'Estado en el que esta la propiedad, usada, etc ', 'string') }}"
          },
          "matchingColumns": [
            "id_propiedad"
          ],
          "schema": [
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_propiedad",
              "displayName": "tipo_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "precio_estimado",
              "displayName": "precio_estimado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "estado_propiedad",
              "displayName": "estado_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "cf4abdf7-3f5f-4256-974c-16d93c8adf1e",
      "name": "Tool: Notificar Cliente",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        832,
        432
      ]
    },
    {
      "parameters": {
        "name": "clientes_pendientes",
        "description": "Registra un cliente que no encontró lo que buscaba y quiere que le avisen cuando haya algo disponible. Úsalo cuando el cliente diga frases como 'si tiene algo me avisa', 'cuando tenga algo me dice', 'avísame si sale algo'. Solo una vez por conversación.",
        "workflowId": {
          "__rl": true,
          "value": "SNHWLpTjIriEF9iM",
          "mode": "list",
          "cachedResultUrl": "/workflow/SNHWLpTjIriEF9iM",
          "cachedResultName": "Clientes pendientes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "sector": "={{ $fromAI('sector', 'En que sector quiere la propiedad', 'string') }}",
            "presupuesto": "={{ $fromAI('presupuesto', 'Presupuesto en numero', 'number') }}",
            "nombre": "={{ $fromAI('nombre', 'Nombre completo del cliente', 'string') }}",
            "telefono": "={{ $fromAI('telefono', 'Numero de telefono del cliente', 'string') }}",
            "ciudad": "={{ $fromAI('ciudad', 'Ciudad donde busca', 'string') }}",
            "tipo_propiedad": "={{ $fromAI('tipo_propiedad', 'Resumen del tipo de propiedad que necesita', 'string') }}"
          },
          "matchingColumns": [
            "id_propiedad"
          ],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "presupuesto",
              "displayName": "presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "tipo_propiedad",
              "displayName": "tipo_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "76be125d-9029-4721-b2fb-e0b66df838ef",
      "name": "Tool: Clientes Pendientes",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        976,
        432
      ]
    },
    {
      "parameters": {
        "name": "transferir_avaluo",
        "description": "Transfiere al equipo de avalúos cuando un cliente quiere saber el valor de su propiedad o necesita una valoración profesional. Solo una vez por conversación.",
        "workflowId": {
          "__rl": true,
          "value": "pFRCGGzU9Yip443k",
          "mode": "list",
          "cachedResultUrl": "/workflow/pFRCGGzU9Yip443k",
          "cachedResultName": "Transferir avaluo"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono_cliente": "={{ $fromAI('telefono', 'Numero de telefono del cliente/persona que quiere vender', 'string') }}",
            "nombre_cliente": "={{ $fromAI('nombre_cliente', 'Nombre del cliente', 'string') }}",
            "tipo_propiedad": "={{ $fromAI('tipo_propiedad', 'Tipo de propiedad de la que quiere el avaluo', 'string') }}",
            "sector": "={{ $fromAI('sector', 'Sector o zona donde está ubicada la propiedad', 'string') }}",
            "notas": "={{ $fromAI('notas', 'Detalles adicionales que mencionó el cliente', 'string') }}"
          },
          "matchingColumns": [
            "id_propiedad"
          ],
          "schema": [
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_propiedad",
              "displayName": "tipo_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "notas",
              "displayName": "notas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "78ea6016-a904-4f07-a464-38a2f65da53c",
      "name": "Tool: Transferir avaluo",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1120,
        432
      ]
    },
    {
      "parameters": {
        "name": "notificar_asesor",
        "description": "Notifica al asesor asignado que tiene una cita agendada. Se llama INMEDIATAMENTE después de agendar_cita, una sola vez. Usa el user_id y teléfono del asesor que obtuviste de verificar_disponibilidad_asesor.",
        "workflowId": {
          "__rl": true,
          "value": "xVIZjqNm4M3dTiat",
          "mode": "list",
          "cachedResultUrl": "/workflow/xVIZjqNm4M3dTiat",
          "cachedResultName": "Notificar al asesor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono_cliente": "={{ $fromAI('telefono', 'Numero de telefono del cliente/persona que quiere vender', 'string') }}",
            "nombre_cliente": "={{ $fromAI('nombre_cliente', 'Nombre del cliente', 'string') }}",
            "propiedad": "={{ $fromAI('propiedad', 'Nombre o descripción de la propiedad a visitar', 'string') }}",
            "fecha": "={{ $fromAI('fecha', 'Fecha de la cita en formato YYYY-MM-DD', 'string') }}",
            "sector": "={{ $fromAI('sector', 'Sector donde está la propiedad', 'string') }}",
            "hora": "={{ $fromAI('hora', 'Hora de la cita, ejemplo: 14:00', 'string') }}",
            "telefono_asesor": "={{ $fromAI('telefono_asesor', 'Teléfono del asesor asignado obtenido de verificar_disponibilidad_asesor, con código de país', 'string') }}"
          },
          "matchingColumns": [
            "id_propiedad"
          ],
          "schema": [
            {
              "id": "telefono_cliente",
              "displayName": "telefono_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "propiedad",
              "displayName": "propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sector",
              "displayName": "sector",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono_asesor",
              "displayName": "telefono_asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "71ec0e12-ed83-41df-bf0f-7cc2bc040670",
      "name": "Tool: Notificar asesor",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1264,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook GET (Verificación)": {
      "main": [
        [
          {
            "node": "Responder Verificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST (Mensajes)": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es texto?": {
      "main": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es audio?": {
      "main": [
        [
          {
            "node": "Obtener URL del Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar (no es texto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL del Audio": {
      "main": [
        [
          {
            "node": "Descargar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Armar Mensaje de Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Mensaje de Audio": {
      "main": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Inmobiliario": {
      "main": [
        [
          {
            "node": "Enviar Respuesta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Buscar Propiedades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Verificar Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Registrar Lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Agendar Cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta WhatsApp": {
      "main": [
        [
          {
            "node": "Responder OK a Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "¿Es texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool: buscar propiedades pro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Detalles": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Notificar Cliente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Clientes Pendientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Transferir avaluo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Notificar asesor": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Inmobiliario",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "57b802af-76c0-4f68-b932-89c4a7a31b52",
  "meta": {
    "instanceId": "62edc0b2d82f039c4d16af406cde29ae991bb1cc3f3ca7a770b94dc4b286a810"
  },
  "id": "HkktX5pQaPIKTNjX",
  "tags": []
}