n8n/buscar_propiedades_pro.json
{
  "name": "buscar_propiedades_pro",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "ubicacion"
            },
            {
              "name": "presupuesto_max",
              "type": "number"
            },
            {
              "name": "habitaciones_min",
              "type": "number"
            },
            {
              "name": "tipo_propiedad"
            },
            {
              "name": "tipo_oferta"
            },
            {
              "name": "parqueaderos_min",
              "type": "number"
            },
            {
              "name": "banos_min",
              "type": "number"
            }
          ]
        }
      },
      "id": "0ea1f105-81fa-4047-8c3e-f5f66baa3771",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "ubicacion",
              "value": "={{ $json.ubicacion || '' }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "presupuesto_max",
              "value": "={{ Number($json.presupuesto_max) || 999999999 }}",
              "type": "number"
            },
            {
              "id": "p3",
              "name": "habitaciones_min",
              "value": "={{ Number($json.habitaciones_min) || 0 }}",
              "type": "number"
            },
            {
              "id": "p4",
              "name": "tipo_propiedad",
              "value": "={{ $json.tipo_propiedad || '' }}",
              "type": "string"
            },
            {
              "id": "p5",
              "name": "tipo_oferta",
              "value": "={{ $json.tipo_oferta || '' }}",
              "type": "string"
            },
            {
              "id": "2896376a-93e7-449a-afc9-de9cfb47db75",
              "name": "banos_min",
              "value": "={{ Number($json.banos_min) || 0 }}",
              "type": "number"
            },
            {
              "id": "1f624a51-62df-4b9d-b0ef-3bd87133a8b7",
              "name": "parqueaderos_min",
              "value": "={{ Number($json.parqueaderos_min) || 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "dd13ff07-f280-4ce7-8bf9-139733c77500",
      "name": "Preparar Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    p.id,\n    p.name AS referencia,\n    p.title AS titulo,\n    p.price AS precio,\n    p.area AS metros_cuadrados,\n    p.bedrooms AS habitaciones,\n    p.bathrooms AS banos,\n    p.parking_spaces AS parqueaderos,\n    p.street AS direccion_zona,\n    p.city AS ciudad,\n    COALESCE(t.name, 'Propiedad') AS tipo_propiedad,\n    CASE p.offer_type WHEN 'sale' THEN 'Venta' ELSE 'Arriendo' END AS oferta,\n    CASE \n        WHEN p.wp_post_id IS NOT NULL THEN 'https://inmobi.com.ec/?p=' || p.wp_post_id \n        ELSE 'https://inmobi.com.ec/catalogo/' \n    END AS link_propiedad,\n    (\n        CASE WHEN (p.city ILIKE '%' || '{{ $json.ubicacion }}' || '%' OR p.street ILIKE '%' || '{{ $json.ubicacion }}' || '%' OR p.title ILIKE '%' || '{{ $json.ubicacion }}' || '%') THEN 10 ELSE 0 END +\n        CASE WHEN p.price <= {{ $json.presupuesto_max || 999999999 }} THEN 5 ELSE 0 END +\n        CASE WHEN p.bedrooms >= {{ $json.habitaciones_min || 0 }} THEN 3 ELSE 0 END\n    ) AS relevancia\nFROM estate_property p\nLEFT JOIN estate_property_type t ON p.property_type_id = t.id\nWHERE p.state = 'available'\n  AND p.active = true\n  AND (\n    '{{ $json.ubicacion || \"\" }}' = '' \n    OR p.city ILIKE '%' || '{{ $json.ubicacion }}' || '%' \n    OR p.street ILIKE '%' || '{{ $json.ubicacion }}' || '%'\n    OR p.title ILIKE '%' || '{{ $json.ubicacion }}' || '%'\n    OR p.price <= ({{ $json.presupuesto_max || 999999999 }} * 1.15)\n  )\nORDER BY relevancia DESC, p.property_score DESC, p.price ASC\nLIMIT 8;\n",
        "options": {}
      },
      "id": "134cb796-5e24-4b1a-b2a5-3d5fa0887a87",
      "name": "Buscar en PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        448,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "6mYPUyfDHs6x1dvZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ JSON.stringify($input.all().map(i => i.json), null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df865609-45f5-40d5-96fd-e807fe12fe58",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Preparar Parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Parametros": {
      "main": [
        [
          {
            "node": "Buscar en PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar en PostgreSQL": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e4b29aa2-dd33-4576-a35a-ce0f3d770e70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62edc0b2d82f039c4d16af406cde29ae991bb1cc3f3ca7a770b94dc4b286a810"
  },
  "id": "XZC5yfEXWrQ95Mp3",
  "tags": []
}