n8n_workflows/buscar_propiedades_pro.json
{
  "name": "buscar_propiedades_pro",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "ubicacion",
              "value": "={{ $json.ubicacion || '' }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "presupuesto_max",
              "value": "={{ Number($json.presupuesto_max) || 999999999 }}",
              "type": "number"
            },
            {
              "id": "p3",
              "name": "habitaciones_min",
              "value": "={{ Number($json.habitaciones_min) || 0 }}",
              "type": "number"
            },
            {
              "id": "p4",
              "name": "banos_min",
              "value": "={{ Number($json.banos_min) || 0 }}",
              "type": "number"
            },
            {
              "id": "p5",
              "name": "parqueaderos_min",
              "value": "={{ Number($json.parqueaderos_min) || 0 }}",
              "type": "number"
            },
            {
              "id": "p6",
              "name": "tipo_propiedad",
              "value": "={{ $json.tipo_propiedad || '' }}",
              "type": "string"
            },
            {
              "id": "p7",
              "name": "tipo_oferta",
              "value": "={{ $json.tipo_oferta || 'sale' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Preparar Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    p.id,\n    p.name AS referencia,\n    p.title AS titulo,\n    p.price AS precio,\n    p.area AS metros_cuadrados,\n    p.bedrooms AS habitaciones,\n    p.bathrooms AS banos,\n    p.parking_spaces AS parqueaderos,\n    p.street AS direccion_zona,\n    p.city AS ciudad,\n    t.name->>'es' AS tipo_propiedad,\n    CASE p.offer_type WHEN 'sale' THEN 'Venta' ELSE 'Arriendo' END AS oferta,\n    CASE \n        WHEN p.wp_post_id IS NOT NULL THEN 'https://inmobi.com.ec/?p=' || p.wp_post_id \n        ELSE 'https://inmobi.com.ec/catalogo/' \n    END AS link_propiedad,\n    p.property_score AS puntuacion\nFROM estate_property p\nLEFT JOIN estate_property_type t ON p.property_type_id = t.id\nWHERE p.state = 'available'\n  AND p.active = true\n  AND ($1 = '' OR p.city ILIKE '%' || $1 || '%' OR p.street ILIKE '%' || $1 || '%')\n  AND p.price <= $2\n  AND p.bedrooms >= $3\n  AND p.bathrooms >= $4\n  AND p.parking_spaces >= $5\n  AND ($6 = '' OR t.name->>'es' ILIKE '%' || $6 || '%')\n  AND p.offer_type = $7\nORDER BY p.property_score DESC, p.price ASC\nLIMIT 8;",
        "options": {
          "queryParams": "={{ $json.ubicacion }},{{ $json.presupuesto_max }},{{ $json.habitaciones_min }},{{ $json.banos_min }},{{ $json.parqueaderos_min }},{{ $json.tipo_propiedad }},{{ $json.tipo_oferta }}"
        }
      },
      "id": "postgres-query",
      "name": "Buscar en PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURAR_CREDENCIAL_POSTGRES",
          "name": "Odoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ JSON.stringify($input.all().map(i => i.json), null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Preparar Parametros", "type": "main", "index": 0}]]
    },
    "Preparar Parametros": {
      "main": [[{"node": "Buscar en PostgreSQL", "type": "main", "index": 0}]]
    },
    "Buscar en PostgreSQL": {
      "main": [[{"node": "Formatear Respuesta", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
