n8n_workflows/buscar_propiedades.json
{
  "name": "Propiedades",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "ciudad",
              "value": "={{ $json.ciudad || '' }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "presupuesto",
              "value": "={{ Number($json.presupuesto) || 999999999 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Preparar Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ep.id,\n  ep.title AS titulo,\n  ep.name AS referencia,\n  ep.city AS ciudad,\n  ep.street AS direccion,\n  ep.price AS precio,\n  CASE ep.offer_type WHEN 'sale' THEN 'Venta' ELSE 'Arriendo' END AS tipo,\n  ep.bedrooms AS habitaciones,\n  ep.bathrooms AS banos,\n  ep.area AS metros_cuadrados,\n  ep.parking_spaces AS parqueaderos,\n  ept.name->>'en_US' AS tipo_propiedad,\n  COALESCE(rp_asesor.name, 'Sin asesor') AS asesor,\n  COALESCE(rp_asesor.email, '') AS asesor_email,\n  COALESCE(rp_asesor.phone, rp_asesor.mobile, '') AS asesor_telefono\nFROM estate_property ep\nLEFT JOIN estate_property_type ept ON ept.id = ep.property_type_id\nLEFT JOIN res_users ru ON ru.id = ep.user_id\nLEFT JOIN res_partner rp_asesor ON rp_asesor.id = ru.partner_id\nWHERE ep.state = 'available'\n  AND ep.active = true\n  AND ($1 = '' OR ep.city ILIKE '%' || $1 || '%')\n  AND ep.price <= $2\nORDER BY ep.price ASC\nLIMIT 10;",
        "options": {
          "queryParams": "={{ $json.ciudad }},{{ $json.presupuesto }}"
        }
      },
      "id": "postgres-query",
      "name": "Buscar en PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURAR_CREDENCIAL_POSTGRES",
          "name": "Odoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ JSON.stringify($input.all().map(i => i.json), null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Preparar Parametros", "type": "main", "index": 0}]]
    },
    "Preparar Parametros": {
      "main": [[{"node": "Buscar en PostgreSQL", "type": "main", "index": 0}]]
    },
    "Buscar en PostgreSQL": {
      "main": [[{"node": "Formatear Respuesta", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true}
}
