n8n_workflows/enviar_catalogo_filtrado.json
{
  "name": "enviar_catalogo_filtrado",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "link_catalogo",
              "value": "={{ \"https://inmobi.com.ec/catalogo/?\" + \n    \"ubicacion=\" + encodeURIComponent($json.ubicacion || \"\") + \n    \"&max_price=\" + ($json.precio_max || \"\") + \n    \"&rooms=\" + ($json.habitaciones || \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-url",
      "name": "Construir URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ JSON.stringify($input.all().map(i => i.json)[0], null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Construir URL", "type": "main", "index": 0}]]
    },
    "Construir URL": {
      "main": [[{"node": "Formatear Respuesta", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
