n8n_workflows/obtener_info_financiera.json
{
  "name": "obtener_info_financiera",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "id_propiedad",
              "value": "={{ $json.id_propiedad || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Preparar Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    p.title AS propiedad,\n    p.price AS precio_total,\n    p.mortgage_down_payment AS entrada_necesaria,\n    p.mortgage_loan_amount AS monto_a_financiar,\n    p.mortgage_monthly_payment AS cuota_mensual_estimada,\n    p.mortgage_rate AS tasa_interes_usada,\n    p.mortgage_term_years AS plazo_anos,\n    p.roi_monthly_rent_estimate AS arriendo_estimado,\n    p.roi_annual_yield AS rendimiento_anual_pct,\n    p.roi_monthly_cashflow AS flujo_caja_mensual,\n    p.roi_5year_value AS valor_estimado_5_anos\nFROM estate_property p\nWHERE (p.id::text = '{{ $json.id_propiedad }}' OR p.name ILIKE '{{ $json.id_propiedad }}')\nLIMIT 1;",
        "options": {}
      },
      "id": "postgres-query",
      "name": "Consultar Datos Financieros",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURAR_CREDENCIAL_POSTGRES",
          "name": "Odoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ JSON.stringify($input.all().map(i => i.json)[0] || { error: 'Datos no disponibles para esta propiedad' }, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Preparar Parametros", "type": "main", "index": 0}]]
    },
    "Preparar Parametros": {
      "main": [[{"node": "Consultar Datos Financieros", "type": "main", "index": 0}]]
    },
    "Consultar Datos Financieros": {
      "main": [[{"node": "Formatear Respuesta", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
