n8n_workflows/obtener_detalle_inmueble.json
{
  "name": "obtener_detalle_inmueble",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "id_propiedad",
              "value": "={{ $json.id_propiedad || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Preparar Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    p.name AS referencia,\n    p.title AS titulo,\n    p.description AS descripcion_detallada,\n    p.price AS precio,\n    p.area AS metros_cuadrados,\n    p.bedrooms AS habitaciones,\n    p.bathrooms AS banos,\n    p.parking_spaces AS parqueaderos,\n    p.year_built AS anio_construccion,\n    p.floor AS piso_planta,\n    t.name AS tipo_propiedad,\n    p.street AS direccion,\n    p.city AS ciudad,\n    p.tour_360_url AS link_tour_virtual,\n    CASE \n        WHEN p.wp_post_id IS NOT NULL THEN 'https://inmobi.com.ec/?p=' || p.wp_post_id \n        ELSE 'https://inmobi.com.ec/catalogo/' \n    END AS link_web\nFROM estate_property p\nLEFT JOIN estate_property_type t ON p.property_type_id = t.id\nWHERE (p.id::text = '{{ $json.id_propiedad }}' OR p.name ILIKE '{{ $json.id_propiedad }}')\nLIMIT 1;",
        "options": {}
      },
      "id": "postgres-query",
      "name": "Consultar Detalles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURAR_CREDENCIAL_POSTGRES",
          "name": "Odoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ JSON.stringify($input.all().map(i => i.json)[0] || { error: 'Propiedad no encontrada' }, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Preparar Parametros", "type": "main", "index": 0}]]
    },
    "Preparar Parametros": {
      "main": [[{"node": "Consultar Detalles", "type": "main", "index": 0}]]
    },
    "Consultar Detalles": {
      "main": [[{"node": "Formatear Respuesta", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
