n8n_workflows/verificar_disponibilidad.json
{
  "name": "Horarios",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "fecha",
              "value": "={{ $json.fecha || '' }}",
              "type": "string"
            },
            {
              "id": "p2",
              "name": "user_id",
              "value": "={{ Number($json.user_id) || 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Preparar Parametros",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parsed_date AS (\n  SELECT\n    CASE\n      WHEN $1 ~ '^\\d{2}-\\d{2}-\\d{4}$' THEN to_date($1, 'DD-MM-YYYY')\n      WHEN $1 ~ '^\\d{4}-\\d{2}-\\d{2}$' THEN to_date($1, 'YYYY-MM-DD')\n      ELSE CURRENT_DATE\n    END AS fecha\n),\nasesores AS (\n  SELECT ru.id AS user_id, rp.name AS asesor_nombre\n  FROM res_users ru\n  JOIN res_partner rp ON rp.id = ru.partner_id\n  WHERE ru.active = true\n    AND ($2 = 0 OR ru.id = $2)\n  ORDER BY rp.name\n  LIMIT 10\n),\neventos AS (\n  SELECT\n    ce.user_id,\n    to_char(ce.start AT TIME ZONE 'America/Guayaquil', 'HH24:MI') AS hora_inicio,\n    to_char(ce.stop AT TIME ZONE 'America/Guayaquil', 'HH24:MI') AS hora_fin,\n    ce.name AS evento\n  FROM calendar_event ce, parsed_date pd\n  WHERE ce.user_id IN (SELECT user_id FROM asesores)\n    AND ce.start::date = pd.fecha\n    AND ce.active = true\n)\nSELECT\n  a.user_id,\n  a.asesor_nombre,\n  pd.fecha::text AS fecha_consultada,\n  COALESCE(\n    json_agg(\n      json_build_object('hora_inicio', e.hora_inicio, 'hora_fin', e.hora_fin, 'evento', e.evento)\n    ) FILTER (WHERE e.hora_inicio IS NOT NULL),\n    '[]'::json\n  ) AS horarios_ocupados,\n  CASE\n    WHEN COUNT(e.hora_inicio) = 0 THEN 'Totalmente disponible'\n    WHEN COUNT(e.hora_inicio) < 4 THEN 'Parcialmente disponible'\n    ELSE 'Agenda muy llena'\n  END AS disponibilidad\nFROM asesores a\nCROSS JOIN parsed_date pd\nLEFT JOIN eventos e ON e.user_id = a.user_id\nGROUP BY a.user_id, a.asesor_nombre, pd.fecha;",
        "options": {
          "queryParams": "={{ $json.fecha }},={{ $json.user_id }}"
        }
      },
      "id": "postgres-query",
      "name": "Consultar Calendario",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURAR_CREDENCIAL_POSTGRES",
          "name": "Odoo PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ JSON.stringify($input.all().map(i => i.json), null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Preparar Parametros", "type": "main", "index": 0}]]
    },
    "Preparar Parametros": {
      "main": [[{"node": "Consultar Calendario", "type": "main", "index": 0}]]
    },
    "Consultar Calendario": {
      "main": [[{"node": "Formatear Respuesta", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "meta": {"templateCredsSetupCompleted": true}
}
